body {
  margin: 0;
}

.area {
  height: 80vh;
  flex-wrap: wrap;
  display: flex;
}

.product-list {
  width: calc(100% - 200px);
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
