.pagination {
  overflow: hidden;
  height: 10vh;
}

.pagination > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination > ul > li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 6px;
  margin: 0;
  background-color: rgb(116, 169, 185);
}

@media (max-width: 319px), (max-height: 439px) {
  .pagination {
    visibility: hidden;
  }
}
